In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mpl
from scipy import stats
import statsmodels.api as sm

In [2]:
df = pd.read_csv('hospitals.csv')
df = df.dropna()
df

,id,name,city,state,lon,lat
0,1,Southern Hills Medical Center,BERRY HILL,TN,-86.721939,36.077843
1,2,Sycamore Shoals Hospital,ELIZABETHTON,TN,-82.247635,36.346218
2,3,Tokona Hospital,GREENEVILLE,TN,-82.845711,36.151772
3,4,University of Tennessee Child Development Center,DOWNTOWN MEMPHIS,TN,-90.037033,35.142872
4,5,Volunteer General Hospital,MARTIN,TN,-88.868393,36.335064
...,...,...,...,...,...,...
6496,6497,Saint Jude Hospital,DOWNTOWN MEMPHIS,TN,-90.043152,35.152870
6497,6498,Saint Marys Hospital,GIBSON,TN,-88.904503,35.822567
6498,6499,Saint Thomas Hospital,BELLE MEADE,TN,-86.801666,36.152557
6499,6500,Scott County Hospital,ONEIDA,KY,-84.515770,36.504520
6500,6501,Sequoyah Branch Johnson Mental Health Center,MIDDLE VALLEY,TN,-85.188843,35.245899

In [3]:
df.head()

,id,name,city,state,lon,lat
0,1,Southern Hills Medical Center,BERRY HILL,TN,-86.721939,36.077843
1,2,Sycamore Shoals Hospital,ELIZABETHTON,TN,-82.247635,36.346218
2,3,Tokona Hospital,GREENEVILLE,TN,-82.845711,36.151772
3,4,University of Tennessee Child Development Center,DOWNTOWN MEMPHIS,TN,-90.037033,35.142872
4,5,Volunteer General Hospital,MARTIN,TN,-88.868393,36.335064

In [4]:
df.describe()

                id          lon          lat
count  6481.000000  6481.000000  6481.000000
mean   3255.364759   -92.894205    38.134881
std    1877.633848    15.225727     5.169106
min       1.000000  -159.364700    19.519756
25%    1624.000000  -104.784134    34.090714
50%    3261.000000   -88.190918    38.658939
75%    4881.000000   -81.548454    41.711990
max    6501.000000   -68.416138    61.188889